<html>
    <head> 
        <title>yessssssss</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <body> 
        <div class="cartão">
            <form>
                <h1>login</h1>
                <label>CPF</label>
                <input type ="text">
                <label>senha</label>
                <input type="password">
                <button type="submit">entrar</button>
            </form>
        

        </div>
        </body>
    </head>
</html>
