<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="cartão">
            <form method="POST" action="{{ url_for('login') }}">
                <h1>login</h1>

                {% if erro %}
                    <p>{{ erro }}</p>
                {% endif %}

                <label for="cpf">CPF</label>
                <input id="cpf" name="cpf" type="text" required>

                <label for="senha">senha</label>
                <input id="senha" name="senha" type="password" required>

                <button type="submit">entrar</button>
            </form>
        </div>
    </body>
</html>
